<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>

     </ion-buttons>
    <ion-title color="primary">Novo Planejamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="salvar(form)">
    <ion-item>
      <ion-label color="primary" position="floating">
        Nome do plajenamento:
      </ion-label>
      <ion-input name="nome" ngModel></ion-input>
    </ion-item>

    <ion-item>
     <ion-label color="primary" position="floating">
        Faturamento mensal:
     </ion-label>
    <ion-input name="fatura" ngModel></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">
         Custo Fixo Mensal
      </ion-label>
      <ion-input name="custo" ngModel></ion-input>
    </ion-item>
    <br>
    <ion-button type="submit">
      <ion-icon name="save"></ion-icon>
        Salvar
    </ion-button>
  </form>
</ion-content>